.centered {
    text-align: center;
}

.margin-separator {
    margin-top: 20px;
}

.text-container {
    font-size: 3em;
    max-width: 600px;
    border-bottom-style: solid;
    border-color: #2b9af3;
    margin: var(--pf-global--spacer--sm);
}

.currency-text {
    font-size: 0.6em;
    vertical-align: top;
}

@keyframes popupFadeIn {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.popup {
    animation-name: popupFadeIn;
    animation-duration: .3s;
}

.border-top-blue {
    border-top: 2px solid var(--pf-global--palette--blue-300);
}

.border-top-red {
    border-top: 2px solid var(--pf-global--palette--red-100);
}

.border-top-yellow {
    border-top: 2px solid var(--pf-global--warning-color--100);
}

.align-icons p svg{
    vertical-align: middle !important;
}
